/* Main Stylesheet */

html, body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, "Segoe UI", "Helevetica Neue", sans-serif;
	min-height: 100vh;
}

body {
	border: 1em solid #FCC062;
	box-sizing: border-box;
}

hr {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* Hero section */

section.hero {
	padding: 2em 1em;
}
section.hero img {
	display: block;
	width: 80%;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}
section.hero h1, section.hero h2 {
	text-align: center;
	font-style: italic;
}
section.hero h1 {
	font-size: 2.5em;
	margin-bottom: 0.3em;
}
section.hero h2 {
	margin-top: 0.3em;
	margin-bottom: 0;
}

/* Menu section */

section.menu {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3em;
}
section.menu h1 {
	text-align: center;
	font-size: 2.5em;
}
section.menu .menu-item {
	display: flex;
	align-items: center;
	padding: 0.5em;
	margin-bottom: 1em;
	border: 1px solid #E6E6E6;
}
section.menu .menu-item:last-child {
	margin-bottom: 0;
}
section.menu .menu-item img {
	display: block;
	padding: 0.5em;
	width: 150px;
	height: 150px;
}
section.menu .menu-item .details {
	flex: 1;
	padding: 0.5em;
}
section.menu .menu-item *:first-child {
	margin-top: 0;
}
section.menu .menu-item *:last-child {
	margin-bottom: 0;
}
section.menu .menu-item .details h2 {
	margin-bottom: 0;
}

/* Footer */

footer {
	padding: 4em 1em;
	background-color: #323232;
	color: #FFF;
	text-align: center;
}
footer *:first-child {
	margin-top: 0;
}
footer *:last-child {
	margin-bottom: 0;
}
footer a {
	color: #FFF;
}
